body {
	margin: 0px;
	background-image: url('/Блочная вёрстка/img/фон.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-attachment: fixed;
	font-size: 22px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-shadow: 1px 2px 2px 0.7px;
}

.glav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(251, 220, 181);
}

.header {
	width: 100%;
	height: 100%;
	margin: 0px 10px;
}

.kotic {
	display: block;
	margin: 0px auto;
}

.log {
	display: inline;
}

.dz {
	width: 200px;
	margin-bottom: 10px;
}

.center {
	display: flex;
	justify-content: space-between;
}

.cat {
	display: block;
	border: 2px solid rgb(172, 172, 172);
	box-shadow: 1px 1px 20px 0.8px;
	border-radius: 10%;
	margin: 0px auto;
	margin-top: 20px;
	width: 400px;
}

.center-img {
	max-width: 800px;
}

.zoo {
	margin: 10px 0px;
	width: 300px;
}

.center-text {
	text-align: justify;
	margin-top: 20px;
	padding: 15px;
	border-radius: 20px;
	background-color: rgb(251, 220, 181);
}

.footer {
	display: flex;
	justify-content: space-around;
	height: 100%;

}

.footer:nth-child(2) {
	margin-top: 20px;
}

.porod {
	margin: 20px auto;
	margin-bottom: 20px;
	background-color: rgb(251, 220, 181);
	max-width: 1000px;
	border-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.porod2 {
	max-width: 300px;
}

.kot-porod {
	display: block;
	margin: 15px auto;
	width: 300px;
	border-radius: 10px;

}

.kot-porod:hover {
	box-shadow: 1px 1px 10px 0.7px;
	cursor: pointer;
}

h2 {
	text-align: center;
	margin: 0px;
}

ul {
	margin: 5px 0px 0px;
}

h3 {

	text-align: center;
	margin: 0px;
}

.magazin {
	margin: 0px auto;
	margin-bottom: 20px;
	background-color: rgb(251, 220, 181);
	border-radius: 20px;
	max-width: 100%;
}

.podval {
	background-color: rgb(251, 220, 181);
	height: 100%;
	padding: 10px;
	font-size: 22px;
	border-radius: 10px 10px 0px 0px;
}

.button {
	float: right;
}

.pop-up {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: transparent;
	z-index: 2;
	transform: translateY(0) scale(0);
	transition: .3s ease-in-out;
}

.pop-up.active {
	transform: translateY(0%) scale(100%);
	background-color: rgba(0, 0, 0, 0.637);
}

.pop-up-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.pop-up-body {
	margin: auto;
	width: 500px;
	background-color: rgb(251, 220, 181);
	border-radius: 10px;
	text-align: center;
	padding: 70px 15px;
	position: relative;
}

.pop-up-body p {
	font-size: 28px;
	font-weight: 600;
	color: black;
	margin-bottom: 40px;
}

.pop-up-body input {
	display: block;
	margin: 25px auto 0px auto;
	width: 330px;
	padding: 17px 20px;
	background-color: rgb(212, 215, 218);
	border-radius: 10px;
	border: none;
	font-weight: 500;
	font-size: 18px;
	color: rgb(65, 65, 65);
}

.pop-up-body input:focus {
	outline: none;
	box-shadow: 2px 3px 2px 0.1px rgba(0, 0, 0, 0.527);
}

.pop-up-body .button1 {
	cursor: pointer;
	display: block;
	width: 330px;
	margin: 60px auto 0px auto;
	padding: 20px 0px;
	font-weight: 500;
	font-size: 20px;
	border: none;
	color: rgb(65, 65, 65);
	border-radius: 10px;
	background-color: rgb(255, 212, 94);
}

.button2 {
	cursor: pointer;
	width: 220px;
	margin: 30px auto 0px;
	padding: 10px;
	font-weight: 500;
	font-size: 20px;
	border: none;
	color: rgb(65, 65, 65);
	border-radius: 10px;
	background-color: white;
}

.pop-up-close {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 21px;
	cursor: pointer;
}

.sidebar {
	width: 1000px;
	height: 350px;
	overflow: hidden;
	margin: 0 auto;
	border: 5px solid rgb(251, 220, 181);
	border-radius: 40px;
}

.middle {
	margin-bottom: 80px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%, -50%);
}

.navigation {
	position: absolute;
	transform: translateX(-50%);
	display: flex;
	bottom: 20px;
	left: 50%;
}

.bar {
	height: 8px;
	width: 30px;
	margin: 6px;
	cursor: pointer;
	opacity: .3;
	background-color: black;
	border-radius: 10px;
	transition: all .4 ease;
}

.bar:hover {
	opacity: 0.8;
	transform: scale(1.1);
}

input[name="r"] {
	position: absolute;
	visibility: hidden;
}

.slaider {
	width: 400%;
	height: 100%;
	display: flex;
}

.slide {
	width: 25%;
	transition: all .6s ease;
}

.slide img {
	width: 100%;
	height: 100%;
}

#r1:checked~.s1 {
	margin-left: 0%;
}

#r2:checked~.s1 {
	margin-left: -25%;
}

#r3:checked~.s1 {
	margin-left: -50%;
}

#r4:checked~.s1 {
	margin-left: -75%;
}

.slaider1 {
	position: relative;
}